%h1= link_to "Todos List", root_path
- if current_user
  = link_to new_todo_path do
    %i.glyphicon.glyphicon-plus Todo
  = link_to new_category_path do
    %i.glyphicon.glyphicon-plus 新分類
  = link_to categories_path do
    %i.glyphicon.glyphicon-list-alt 管理分類
  = link_to sign_out_path do
    %i.glyphicon.glyphicon-log-out 登出
